h2 {
    margin-top: 20px;
    font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3f70;
    line-height: 1.6;
}

ol {
    padding-left: 40px;
}

ol li {
    margin-bottom: 6px;
}

ol li::marker {
    font-weight: bold;
    color: black;
}
