/* Загальні стилі */
body {
    font-family: "Times New Roman", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f9f9f9;
}

/* Обмеження ширини сторінки */
header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

/*Головний заголовок*/ 
header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

/*Горизонтальні лінії*/
header {
    border-bottom: 1px solid #999;
}

footer {
    border-top: 1px solid #999;
    font-size: 14px;
}

/*Заголовки розділів*/
h2 {
    margin-top: 40px;
    font-size: 22px;
}

h3 {
    margin-top: 20px;
    font-size: 18px;
}

/*Гімн*/
section p {
    margin-left: 20px;
}

/* Зображення */
img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

/* Посилання */
a {
    color: purple;
    text-decoration: underline;
}

a:hover {
    color: darkblue;
}

/* Списки */
ul, ol {
    margin-left: 30px;
}

/* Підсвічений текст */
mark {
    background-color: yellow;
}

/* Footer */
footer p {
    margin: 10px 0;
}
